<form
  id="outer-container"
  [formGroup]="createUserForm"
  (ngSubmit)="onCreateClick()"
>
  <h3>Create User</h3>

  <!-- First name and last name field -->
  <div class="row-input-container">
    <!-- First Name -->
    <input
      type="text"
      placeholder="Enter First name"
      formControlName="firstName"
    />

    <!-- Last Name -->
    <input
      type="text"
      placeholder="Enter Last name"
      formControlName="lastName"
    />
  </div>

  <!-- User Gender Field -->
  <div class="row-input-container">
    <!-- Username Input Field -->
    <input
      type="text"
      placeholder="Enter Username"
      formControlName="username"
    />

    <!-- Gender of the user -->
    <!-- Male Gender -->
    <label>
      <input type="radio" name="gender" value="Male" formControlName="gender" />
      Male
    </label>

    <!-- Female Gender -->
    <label>
      <input
        type="radio"
        name="gender"
        value="Female"
        formControlName="gender"
      />
      Female
    </label>
  </div>

  <!-- Attach Image Url -->
  <input type="text" placeholder="Enter Image Url" formControlName="imageUrl" />

  <!-- User Description Field -->
  <textarea
    placeholder="Enter the description"
    formControlName="description"
  ></textarea>

  <p class="error-text" *ngIf="!createUserForm.valid && createUserForm.touched">
    Please Fill All the fields !!
  </p>

  <!-- Button to create the user -->
  <button id="submit-btn" [disabled]="!createUserForm.valid">
    Create User
  </button>
</form>
