/* Default CSS for the whole webpage */
@import url("https://fonts.googleapis.com/css2?family=McLaren&display=swap");

:root {
  --primary-color: #8752cc;
  --background: #1c1f22;
  --onBackground: #ffffff;
  --card: #282b2e;
  --cardVariant: #494848;
  --deleteColor: rgb(241, 61, 61);
  --confirmColor: rgb(48, 150, 48);
}

* {
  padding: 0;
  margin: 0;
  font-family: "McLaren", cursive;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

button {
  padding: 10px 12px;
  background-color: var(--primary-color);

  border: none;
  outline: none;

  border-radius: 6px;
  color: var(--onBackground);

  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.3;
}

button:disabled {
  opacity: 0.5;
}

input {
  padding: 10px 12px;

  border-radius: 8px;

  outline: none;
  border: none;
}

h1,
h2,
h3 {
  color: var(--primary-color);
}
