<!-- Card Component -->
<div id="item-card">
  <!-- This is the title container which contains the user name and the delete button -->
  <div id="title-container">
    <h3>{{ title }}</h3>

    <!-- Container containing the Show More and Delete Button -->
    <div id="button-container">
      <button id="details-btn" (click)="onShowMoreClick()">Show More</button>
      <button id="delete-btn" (click)="onDeleteClick()">Delete</button>
    </div>
  </div>

  <!-- User description -->
  <p>{{ description }}</p>
</div>
